body{
    text-align: center;
    padding-top: 30px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 30px;
    background-color: white;
    background: #eaead1;
    font-family: 'Mirza', cursive;
    color: black;
    line-height: 30px;
    text-rendering:geometricPrecision;
}

a:link {
  color: rgb(212, 91, 18);
}

a:visited {
  color: rgb(212, 91, 18);
}

h1 {
  font-size: 60px;
  line-height: 50px;
  padding-top: 30px;
  margin: 0px;
}
h2 {
  font-size: 40px;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 25px;
  line-height: 30px;
  padding: 0px;
  margin: 0px;
}

.header {
  margin-top: 5%;
}

.button {
  border-color: black;
  background-color: transparent;
  padding: 23px 20px 17px 20px;
  font-size: 15px;
  border-radius: 25px;
  display: inline-flex;
  line-height: 10px;
  align-items: center; 
  cursor: pointer;
  font-size: 20px;
  margin: 0px 10px 0px 10px;

}


.call-to-action {
  padding-bottom: 50px;
}

.the-staff {
  margin-top: 40px;
}

p, li {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;

}

ul {
  text-align: center;
  list-style-position: inside;
}

img {
  width: 500px;
  height: auto;
  border-radius: 10%;
  overflow: hidden;
}

.substack {
  text-align: center;
}

.bridge {
  background-image: url("https://cloud-4n3rds9is-hack-club-bot.vercel.app/0charlotte.jpeg");
  /* width: 500px; */
  margin: 0 auto;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

figure {
  margin: 0;
}

}

.lead {
  font-weight: bold;

  font-size: 1.4rem;
}
.lead::after {
  content: ":";
}

.button-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}

.solid-button {
  border-radius: 10px;
  padding: 10px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #8f1717;
  color: white;
  border: none;
  margin-right: 5px;
  font-weight: bold;
  transition: transform 250ms;
}

/* When you hover on the button, there is a little animation */
.solid-button:hover {
  transform: translateY(-5px);
}

.outline-button {
  border-radius: 10px;
  padding: 10px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #ffffff;
  border: 2px solid #8f1717;
  color: #8f1717;
  margin-left: 5px;
  font-weight: bold;
  transition: transform 250ms;
}

/* When you hover on the button, there is a little animation */
.outline-button:hover {
  transform: translateY(-5px);
}

/* Apply this class to the button text so that it does not appear blue like the other links */
.button-link {
  text-decoration: none;
  color: inherit;
}

/* This applies the styles that appear when you highlight words on the page with your cursor! */
::selection {
  background-color: #d15757;
}

/* Copied from https://www.w3schools.com/css/css3_mediaqueries_ex.asp */
/* Set the background color of body to tan */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
